In [7]:
#importamos librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
datadf=pd.read_excel("Detalle precios y productos fabricados 2022.xlsx")
datadf.head(3)

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1.0,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1.0,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7.0,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56

In [9]:
#copia
df1=datadf.copy()

In [10]:
vn=df1.isnull().sum()
vn

CVE_DOC                      3
FECHA_DOC                    3
NOMBRE_VENDEDOR              2
NOMBRE_CLIENTE               2
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [11]:
df1["CVE_DOC"]=df1["CVE_DOC"].fillna(method="ffill")
vn=df1.isnull().sum()
vn

/var/folders/19/7c2smbhs6b3g5ffy1ph3r__m0000gn/T/ipykernel_53378/2374471095.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1["CVE_DOC"]=df1["CVE_DOC"].fillna(method="ffill")

CVE_DOC                      0
FECHA_DOC                    3
NOMBRE_VENDEDOR              2
NOMBRE_CLIENTE               2
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [12]:
df1["FECHA_DOC"]=df1["FECHA_DOC"].fillna(method="bfill")
vn=df1.isnull().sum()
vn

/var/folders/19/7c2smbhs6b3g5ffy1ph3r__m0000gn/T/ipykernel_53378/2752470135.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1["FECHA_DOC"]=df1["FECHA_DOC"].fillna(method="bfill")

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              2
NOMBRE_CLIENTE               2
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [13]:
df1["NOMBRE_VENDEDOR"]=df1["NOMBRE_VENDEDOR"].fillna("ND")
df1["NOMBRE_CLIENTE"]=df1["NOMBRE_CLIENTE"].fillna("ND")
vn=df1.isnull().sum()
vn

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [15]:
df1["CANT"]=df1["CANT"].fillna(round(datadf["CANT"].mean(),1))
vn=df1.isnull().sum()
vn

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [16]:
df1["CVE_ART"]=df1["CVE_ART"].fillna("N/A")
vn=df1.isnull().sum()
vn

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        2
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [17]:
df1["DESCR"]=df1["DESCR"].fillna("N/A")
vn=df1.isnull().sum()
vn

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        0
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [20]:
df1["PRECIO_UNITARIO"]=df1["PRECIO_UNITARIO"].fillna(round(datadf["PRECIO_UNITARIO"].mean(),1))
df1["COSTO_UNITARIO"]=df1["COSTO_UNITARIO"].fillna(round(datadf["COSTO_UNITARIO"].mean(),1))
df1["COSTO_UNITARIO_CALCULADO"]=df1["COSTO_UNITARIO_CALCULADO"].fillna(round(datadf["COSTO_UNITARIO_CALCULADO"].mean(),1))
vn=df1.isnull().sum()
vn

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        0
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [22]:
df1["SUBTOTAL_PARTIDA"]=df1["SUBTOTAL_PARTIDA"].fillna(round(datadf["SUBTOTAL_PARTIDA"].mean(),1))
vn=df1.isnull().sum()
vn

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        0
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [23]:
#Guardamos nuestro documento
df1.to_csv("DPPF.csv")