In [1]:
#importamos librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
datadf=pd.read_excel("Gastos y costos 20-23.xlsx",skiprows=3,sheet_name='2022')
datadf.head(3)

,Fecha,Folio,UUID,RFC,Proveedor,TIPO GASTO,Descripción,MP,TC,Importe,IVA,RET ISR,RET IVA,Otros,TOTAL MX,TOTAL SAT,Tipo,Status,Poliza
0,2022-01-01,280108,9DA0E63F-1D47-441F-93D7-C2E05AE4D35E,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006876 18/36 de 03/12/...,PPD,1.0,5551.38,888.22,0.0,0.0,NaN,6439.6,6439.6,I,Vigente,PE02-ENE22
1,2022-01-01,280109,7E00E776-A839-4D57-B291-411109164B2F,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006877 18/36 de 03/12/...,PPD,1.0,5551.98,888.32,0.0,0.0,NaN,6440.3,6440.3,I,Vigente,PE03-ENE22
2,2022-01-01,007817297284,BB6585C1-3B54-4130-AFD0-1867C3764821,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,Servicios de Facturación,PUE,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,I,Vigente,NaN

***Seguimos trabajando de la misma manera que en las hojas anteriores***

In [4]:
#Copia de nuestro dataframe
df3=datadf.copy()

In [5]:
#Checamos los valores nulos
vn=df3.isnull().sum()
vn

Fecha             0
Folio           102
UUID              0
RFC               0
Proveedor         0
TIPO GASTO        0
Descripción       0
MP              553
TC              636
Importe           0
IVA               0
RET ISR           0
RET IVA           0
Otros          2577
TOTAL MX          0
TOTAL SAT         0
Tipo              0
Status            0
Poliza          801
dtype: int64

In [7]:
df3["Folio"]=df3["Folio"].fillna("N/A")
vn=df3.isnull().sum()
vn

Fecha             0
Folio             0
UUID              0
RFC               0
Proveedor         0
TIPO GASTO        0
Descripción       0
MP              553
TC              636
Importe           0
IVA               0
RET ISR           0
RET IVA           0
Otros          2577
TOTAL MX          0
TOTAL SAT         0
Tipo              0
Status            0
Poliza          801
dtype: int64

In [14]:
df3["MP"]=df3["MP"].fillna(method="ffill")
vn=df3.isnull().sum()
vn

/var/folders/19/7c2smbhs6b3g5ffy1ph3r__m0000gn/T/ipykernel_52109/2385948230.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df3["MP"]=df3["MP"].fillna(method="ffill")

Fecha          0
Folio          0
UUID           0
RFC            0
Proveedor      0
TIPO GASTO     0
Descripción    0
MP             0
TC             0
Importe        0
IVA            0
RET ISR        0
RET IVA        0
Otros          0
TOTAL MX       0
TOTAL SAT      0
Tipo           0
Status         0
Poliza         0
dtype: int64

In [16]:
df3["TC"]=df3["TC"].fillna(method="bfill")
vn=df3.isnull().sum()
vn

/var/folders/19/7c2smbhs6b3g5ffy1ph3r__m0000gn/T/ipykernel_52109/1266643473.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df3["TC"]=df3["TC"].fillna(method="bfill")

Fecha          0
Folio          0
UUID           0
RFC            0
Proveedor      0
TIPO GASTO     0
Descripción    0
MP             0
TC             0
Importe        0
IVA            0
RET ISR        0
RET IVA        0
Otros          0
TOTAL MX       0
TOTAL SAT      0
Tipo           0
Status         0
Poliza         0
dtype: int64

***Para rellenar los valores nulos en la columna "Otros", se utilizará un valor númerico en concreto, en este caso, el 0 dado que no se cuenta con esa información***

In [12]:
df3["Otros"]=df3["Otros"].fillna("0")
vn=df3.isnull().sum()
vn

Fecha          0
Folio          0
UUID           0
RFC            0
Proveedor      0
TIPO GASTO     0
Descripción    0
MP             0
TC             0
Importe        0
IVA            0
RET ISR        0
RET IVA        0
Otros          0
TOTAL MX       0
TOTAL SAT      0
Tipo           0
Status         0
Poliza         0
dtype: int64

In [11]:
df3["Poliza"]=df3["Poliza"].fillna("N/A")
vn=df3.isnull().sum()
vn

Fecha             0
Folio             0
UUID              0
RFC               0
Proveedor         0
TIPO GASTO        0
Descripción       0
MP                0
TC                0
Importe           0
IVA               0
RET ISR           0
RET IVA           0
Otros          2577
TOTAL MX          0
TOTAL SAT         0
Tipo              0
Status            0
Poliza            0
dtype: int64

In [18]:
#Guardamos nuestro archivo
df3.to_csv("GyC22.csv")